[submodule "filter/external/itkCountNeighborsImageFilter"]
	path = filter/external/itkCountNeighborsImageFilter
	url = https://github.com/romangrothausmann/midas-journal-801

[submodule "tclap"]
	path = tclap
	url = https://github.com/eile/tclap.git
